* {
  box-sizing: border-box;
}

body {
  background-color:rgba(255, 255, 255, 0.596)
}

.navbar {
  /* background-color: black; */
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid rgba(14, 205, 154, 0.315);

}

#kicklrLogo {
  width: 50px;
  height: 50px;
}

.navbarText {
  color: #0ECD99;
 
}

.nav-link {
  color: #0ECD99 !important; 
  
}

.nav-link:hover {
  color: #7C67CB !important;
}

#marginRight {
  float: right;
}

#navbarNav {
  padding-right: 20px;
}

.navbar-toggler {
  /* WITHOUT !important THE BORDER COLORS WILL BE THE DEFAULT BOOTSTRAP ONES */
  border: 1px solid #0ECD99 !important;
  border-bottom: 1px solid #7C67CB !important;
  border-top: 1px solid #7C67CB !important;

}

#topContainer {
  /* width: 1200px; */
  width: auto;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  max-width: 1250px;
  
  font-size: 60px;
  text-align: center;
}

#featuredOn {
  font-size: 20px;
  font-family: 'Mali', cursive;
}

#accolades {
  text-align: start;
}

#sectionLeft {
  width: 33%;
  height: auto;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 30px;
  
}

#logos {
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  /* align-content: center; */
}

#hypem {
  width: 250px;
  height: 100px;
  margin: auto;
  /* margin-top: 20px; */
}

#earmilk {
  width: 100px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
}


#engineer {
  /* margin-left: 10%; */
  /* text-align: left; */
}
#sectionRight {
  
  width: 33%;
  height: auto;
  margin-top: 10px;
  /* border: 1px solid black; */
}

#picFrame {
  width: 250px;
  /* padding: 40px; */
  margin: auto;
  border: solid 5px #7C67CB;
  height: 250px;
  border-radius: 50%;
  margin-top: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  /* margin-right: 20%; */
}

.tracksContainer {
  width: 600px;
  /* padding: 40px; */
  margin: auto;
  border: solid 4px #0ECD99;
  
  height: 100px;
  margin-top: 20px;
  display: flex;
  /* margin-left: 200px; */
}

#audioContainer {
  margin-top: 10px;
  position: sticky;
  /* width: 100%; */
  /* position: relative; */
}

#audio {
  width: 100%;
  /* margin-left: 10%; */
  /* margin: auto; */
  /* width: 100%; */
  margin-top: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 950px) {

  #topContainer {
      font-size: 40px
  }

  #sectionLeft {
      font-size: 35px
  }
  #hypem {
      width: 125px;
      height: 50px;
      margin: auto;
      /* margin-top: 20px; */
  }
}

@media only screen and (min-width: 600px) {
  /* THIS MAKES THE SIGN UP CONTAINER FIT THE FULL SCREEN WIDTH WHEN THE SCREEN SIZE IS LESS THAN 500PX  */
  #audio {
      width: 20%;
      min-width: 300px;
      
      
      
  }
 
  
}

@media only screen and (max-width: 700px) {
  /* THIS MAKES THE SIGN UP CONTAINER FIT THE FULL SCREEN WIDTH WHEN THE SCREEN SIZE IS LESS THAN 500PX  */
  .tracksContainer {
      width: 100%;
      max-width: 400px;
      margin-top: 0px;
      height: 70px;
  }
  #picFrame {
      width: 200px;
      height: 200px;
      margin-top: 10px;
      margin-right: auto;
  }

  #audio {
      margin-top: 0px;
      position: static;
      transform: translate(0%, 0%);
      margin: auto;
      width: 100%;
  }

  #sectionLeft {
      display: none;
  }
  #sectionRight {
      display: none;
  }
  
}

.coverArtContainer {
  height: 100%;
  width: 20%;
  border: 1px solid #7C67CB;
  
  
}

.playPauseContainer {
  height: 100%;
  width: 20%;
  border: 1px solid #7C67CB;
  position: relative;
 
  
  
}

.fontAwesomePlayTrackIcon {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* margin-left: 30%; */
  text-align: center;

  /* border: 1px solid black;
  border-radius: 50%; */
  
 

}

.coverArt {
  filter: grayscale(50%);
  height: 100%;
  width: 100%;
  filter:hue-rotate(160deg);

}

.iGotYouCoverArt {
  /* filter: grayscale(50%); */
  height: 100%;
  width: 100%;
  /* filter:hue-rotate(160deg); */

}

.title {
  /* height: 100%; */
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Mali', cursive;
  /* margin-left: 10%; */
  /* font-size: 2em; */
}



.trackTitleContainer {
  height: 100%;
  width: 60%;
  border: 1px solid #7C67CB;
  position: relative;
  text-align: center
}

.wrapper {
  width: 500px;
  padding: 40px;
  margin: auto;
  margin-top: 150px;
  border: solid 5px #7C67CB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #05668D;
  background-color: #0ECD99; 
  border-radius: 3%;  
}

#soundcloudAvatar {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  /* THIS MAKES THE SIGN UP CONTAINER FIT THE FULL SCREEN WIDTH WHEN THE SCREEN SIZE IS LESS THAN 500PX  */
  .wrapper {
      width: 100%;
  }
}

.btn {
  background-color: #7C67CB;
  color: #0ECD99;
  /* THIS CENTERS THE SUBMIT BUTTON */
  margin-left: 25%;
}



